# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build / cache
dist/
.vite/
.cache/
coverage/
*.tsbuildinfo

# Env / secrets
.env
.env.*
!.env.example

# OS / Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Tests / tooling (si présents)
.eslintcache
.jest-cache/
.jest/
